.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/f54534875f9f2ef3c875b8d7b4a016934ebd627e2b6c3d31d263d8b25db3069b285ec12730da0b24a8e87fc7aa478bf5fd540639f46761aa12d05a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 171px;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  width: 295px;
  margin: 0 auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 549px;
}

.u-section-2 .u-text-1 {
  margin: 4px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 4px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 49px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 0 0 60px;
}